<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head') %>
</head>
<body>
    <%- include('partials/_header') %>



    <div class="container-fluid">
        <div class="text-align-center">
            <p class="lead m-0">This site has been made in NodeJS with Express.</p>
            <p class="lead m-0">It does not have database. Only in memory.</p>
            <p class="lead m-0">Realized by Cristian.</p>

        </div>


    </div>

    <%-include ('partials/add-photo')%>
    <%- include('partials/_footer') %>

</body>
</html>