<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head') %>
</head>
<body>
    <%- include('partials/_header') %>

    <div class="container gallery-container">
        <h1>ABOUT</h1>
        <p class="page-description text-center">Add me photos!</p>  
        <p class="page-description text-center lead m-0">This site has been made in NodeJS with Express.</p>
        <p class="page-description text-center lead m-0">It does not have database. Only in cache memory.</p>
        <p class="page-description text-center lead m-0">Realized by Cristian.</p>

    </div>



    <%-include ('partials/add-photo')%>
    <%- include('partials/_footer') %>

</body>
</html>