<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

  <%- include('partials/_header') %>

      <form class="form-row" method="POST" action="/add">
        <div class="col-md-4 mb-3">
          <label for="validationDefault01" class="form-label">Título</label>
          <input type="text" name="title" class="form-control" id="validationDefault01" value="Foto_1" maxlength="10" pattern="^[A-Za-z0-9_]+$" title="Solo puede contener letras, números o guión bajo." required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault02" class="form-label">URL source image</label>
          <input type="text" name="url" class="form-control" pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)" title="El formato debe ser válido. Ej. http://wwww.face.com/a.jpg" id="validationDefault02" placeholder="https://i.blogs.es/594843/chrome/450_1000.jpg" value="https://i.blogs.es/594843/chrome/450_1000.jpg" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="example-date-input2" class="form-label">Date</label>
          <input class="form-control" name="date" type="date" value="2021-08-19" id="example-date-input2" required>
        </div>
        <% if(error){ %> 
          <div class="col-md-4 p-3 mb-3 bg-danger text-white">
            La URL <%= url %>  ya existe. 
          </div>
        <% } %> 
       

        <div class="col-12 mt-4">
          <button class="btn btn-primary" type="submit">Add Photo!</button>
        </div>
      </form>






      <%- include('partials/_footer') %>

</body>
</html>