<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Pic.to.me</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#addPhotoModal" <% if (page_name !== 'home') { %> hidden <% } %>>Add Photo</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link <% if (page_name === 'home') { %> currentTab <% } %>" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link <% if (page_name === 'about') { %> currentTab <% } %>" href="/about">About</a>
          </li>
        </ul>
        <form id="formSearch" method="GET" action="/search/" class="d-flex" >
          <input name= "title" class="form-control me-2" type="search" placeholder="Search by title" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Go</button>
        </form>
      </div>
    </div>
  </nav>
</header>