<div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="tituloVentana">Add Photo!</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


              <form class="form-row" method="POST" action="/add">
                <div class="col-12 mb-3">
                  <label for="validationDefault01" class="form-label">Título</label>
                  <input type="text" name="title" class="form-control" id="validationDefault01" value="Foto_1" maxlength="10" pattern="^[A-Za-z0-9_]+$" title="Solo puede contener letras, números o guión bajo." required>
                </div>
                <div class="mb-3">
                  <label for="validationDefault02" class="form-label">URL source image</label>
                  <input id="textUrl" type="url" name="url" class="form-control" title="El formato debe ser válido. Ej. http://wwww.face.com/a.jpg" required>
                  <div id="cargando" style="display:none" >Cargando</div>
                </div>
                <div class="mb-3">
                  <label for="example-date-input2" class="form-label">Date</label>
                  <input class="form-control" name="date" type="date" value="2021-08-19" id="example-date-input2" required>
                </div>
                <div id="showError" hidden>
                  <!-- Mensaje de error -->
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button id="btnAdd" class="btn btn-primary" type="submit" disabled>Add Photo!</button>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="font-size:0.8em;">
                  <pre class="font-monospace">
                    Only letters, numbers and underscores
                    are allowed in names(Max. 10 characters)
                    Only unique photos url
                  </pre>
            </div>
        </div>
    </div>
</div>
<script>


  const urlText = document.querySelector("#textUrl");
  const showError = document.querySelector("#showError");
  const loading = document.querySelector("#cargando"); 
  let inputMargin;

  urlText.addEventListener("input", ()=>{
    if(inputMargin){
      clearTimeout(inputMargin)
    }
    inputMargin = setTimeout(()=>{
      loading.style.display = 'block';
      fetch("/checkphoto/?photoURL=" + urlText.value,)
        .then(res => res.json())
        .then(data => {
          if(data.error){
            showError.hidden = false;
            showError.innerHTML = data.errorText;
            showError.setAttribute("class","p-3 mb-3 bg-danger text-white");
          }
          if(!data.error){
            document.querySelector("#btnAdd").disabled = false;
            showError.hidden = true;
          }
          loading.style.display = 'none';
      })
    },500);
  });


</script>